<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<meta name="description" content="This is a website that provides user interface for online streaming services' database management.">
		<title>Group 29</title>

		<style>
			.button {
				border: solid;
				color: black;
				height: 100px;
				width: 150px;
				text-align: center;
				font-family: verdana;
				font-size: 16px;
				margin: 4px 2px;
				cursor: pointer;
			}

			.button1 {background-color: #ffe6ff;}
			.button2 {background-color: #e6ffcc;}
		</style>

	</head>
	<body style="background-color: lightblue; font-family:verdana;">
		<h2>Group 29: Milestone 4(a)</h2>

		<br/>
		<a href="/insert"><button class=button button1>INSERT</button></a>
		<a href="/delete"><button class=button button1>DELETE</button></a>
		<a href="/update"><button class=button button1>UPDATE</button></a>

		<br/>
		<a href="/select"><button class=button button2>SELECT</button></a>
		<a href="/project"><button class=button button2>PROJECT</button></a>
		<a href="/join"><button class=button button2>JOIN</button></a>

		<br/>
		<a href="/aggregation"><button class=button button2>AGGREGATION</button></a>

		<a href="/nested"><button class=button button2>NESTED</button></a>
		<a href="/division"><button class=button button2>DIVISION</button></a>

	</body>


</html>