<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
	</head>
	<body style="background-color: lightblue; font-family: verdana;">
		<h2>Result</h2>
		<button onclick="createTable()">VIEW</button>
		<a href="main.html"><button class=button button1>RETURN TO MAIN</button></a>

		<p id = "start" style = "font-size: 14px;"> </p> 

		<table id="table" align="center" border="1px">
		</table>

		<script>

			var list = JSON.stringify($("#agg").serializeArray());
		
			function createTable() { 
	            var cols = []; 
	              
	            for (var i = 0; i < list.length; i++) { 
	                for (var k in list[i]) { 
	                    if (cols.indexOf(k) === -1) { 
	                          
	                        // Push all keys to the array 
	                        cols.push(k); 
	                    } 
	                } 
	            } 
	              
	            // Create a table element 
	            var table = document.createElement("table"); 
	              
	            // Create table row tr element of a table 
	            var tr = table.insertRow(-1); 
	              
	            for (var i = 0; i < cols.length; i++) { 
	                  
	                // Create the table header th element 
	                var theader = document.createElement("th"); 
	                theader.innerHTML = cols[i]; 
	                  
	                // Append columnName to the table row 
	                tr.appendChild(theader); 
	            } 
	              
	            // Adding the data to the table 
	            for (var i = 0; i < list.length; i++) { 
	                  
	                // Create a new row 
	                trow = table.insertRow(-1); 
	                for (var j = 0; j < cols.length; j++) { 
	                    var cell = trow.insertCell(-1); 
	                      
	                    // Inserting the cell at particular place 
	                    cell.innerHTML = list[i][cols[j]]; 
	                } 
	            } 
	              
	            // Add the newely created table containing json data 
	            var el = document.getElementById("table"); 
	            el.innerHTML = ""; 
	            el.appendChild(table); 
	        }     
	

		</script>

	</body>

	
</html>