<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<style>
			.button {
				border: solid;
				border-color: #8800cc;
				height: 40px;
				width: 150px;
				text-align: center;
				font-family: verdana;
				font-size: 14px;
				margin: 4px 10px;
				cursor: pointer;
			}

			.button1 {background-color: #e6b3ff;}
		</style>
	</head>
	<body style="font-family: verdana;background-color: lightblue;">	

		<h2>Select</h2>
		<p>Find the movies that have higher rating than specified. </p>
		<br/>

		<form type="submit" action="" method= "post" id="select_submit">
			<label class="label" for="rating">Minimum Rating (out of 5): </label>
			<input type="text" id="rating" name="rating">
			<input type='submit' value="Submit"> 

		</form>
		<a href="/"><button class=button button1>RETURN TO MAIN</button></a>
		<div id="a">
			<p>Table</p>
		</div>

		<!-- Source for table generation code below:
						Author: PranchalKatiyar
						Title: How to convert JSON data to a html table using JavaScript/jQuery ?
						Link: https://www.geeksforgeeks.org/how-to-convert-json-data-to-a-html-table-using-javascript-jquery/

						* this code was also used in select, project, join, nested, division.
				-->
		<script>

			function createTable() {

				// pass object from server to ejs. reponse client is now a regular array of js object
				var responseClient = <%- JSON.stringify(response) %>;
				const label = ["title", "video_year", "rating"];
				buildTable(label, responseClient, document.getElementById("a"));


			}

			function buildTable(labels, objects, container) {
				var table = document.createElement('table');
				var thead = document.createElement('thead');
				var tbody = document.createElement('tbody');

				var theadTr = document.createElement('tr');
				for (var i = 0; i < labels.length; i++) {
					var theadTh = document.createElement('th');
					theadTh.innerHTML = labels[i];
					theadTr.appendChild(theadTh);
				}
				thead.appendChild(theadTr);
				table.appendChild(thead);

				for (j = 0; j < objects.length; j++) {
					var tbodyTr = document.createElement('tr');
					for (k = 0; k < labels.length; k++) {
						var tbodyTd = document.createElement('td');
						tbodyTd.innerHTML = objects[j][labels[k].toLowerCase()];
						tbodyTr.appendChild(tbodyTd);
					}
					tbody.appendChild(tbodyTr);
				}
				table.appendChild(tbody);

				container.appendChild(table);
			}

			createTable();
		</script>

	</body>

</html>	

